<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("./partials/head") %>
  <title>Contact Us</title>
</head>

<body>
  <%- include("./partials/navbar") %>

  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h1 class="fw-bold text-center mb-4">Contact Us</h1>
        <p class="text-center text-muted mb-5">
          Have questions, feedback, or suggestions? We'd love to hear from you.
        </p>
         <h1 class="text-center">hitee0025@gmail.com</h1>
      </div>
    </div>
  </div>
  <%- include("./partials/footer.ejs") %>
  <%- include("./partials/script") %>
</body>
</html>
